[Unit]
Description=IoMBian Config File Handler

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
TimeoutStopSec=5

WorkingDirectory=/opt/iombian-config-file-handler
ExecStart=/opt/iombian-config-file-handler/venv/bin/python /opt/iombian-config-file-handler/main.py

[Install]
WantedBy=multi-user.target