[Unit]
Description=IoMBian Config File Handler

[Service]
Type=simple
User=root
Restart=always
RestartSec=15
TimeoutStopSec=5

Environment="YAML_FILE_PATH=/boot/config/parameters.yml"
WorkingDirectory=/opt/iombian-config-file-handler
ExecStart=/opt/iombian-config-file-handler/venv/bin/python /opt/iombian-config-file-handler/main.py

[Install]
WantedBy=multi-user.target